.col-10
{
	background-color: #75767A;
	border-color: white;
	border-style: solid;
	border-width:  2px;
}
.col-lg-3, .col-sm-10
{
	background-color: #D5D6D8;
	border-color: white;
	border-style: solid;
}
#row1
{
	height: 400px;
}
#row2
{
	
	height: 200px;

}
@media only screen and (max-width: 700px)
{
	#row1
	{
		height: 600px;
	}
	#row2
	{
		height: 400px;
	}
}
